@font-face {
    font-family: BOD;
    src: url(BOD_B.TTF);
}

@font-face {
    font-family: ELEPHNT;
    src: url(ELEPHNT.TTF);
}

@font-face {
    font-family: GOTHIC;
    src: url(GOTHIC.TTF);
}

@font-face {
    font-family: LHANDW;
    src: url(LHANDW.TTF);
}

@font-face {
    font-family: PSL;
    src: url(PSL.TTF);
}